# python==3.11.13

# python==3.9.23

torch==2.0.1+cu118

protobuf==3.20.0

transformers==4.27.1

icetk

cpm_kernels

datasets

peft

accelerate==0.17.1

rich==14.1.0
#Successfully installed markdown-it-py-3.0.0 mdurl-0.1.2 pygments-2.19.2 rich-14.1.0

sentencepiece==0.2.1
#Successfully installed sentencepiece-0.2.1